@font-face {
    font-family: calibre;
    src: url(calibre-font-family-1730819871-0/TestCalibre-Light-BF661746edb619a.otf);
    font-weight: lighter;
  }

@font-face {
    font-family: calibre;
    src: url(calibre-font-family-1730819871-0/TestCalibre-Medium-BF661746ed8cff9.otf);
    font-weight: normal;
    }

@font-face {
    font-family: calibre;
    src: url(calibre-font-family-1730819871-0/TestCalibre-Bold-BF661746ed7c530.otf);
    font-weight: bold;
    }



body {
    background-color: rgb(243, 242, 239);
    color: rgb(51, 49, 33);
    font-family: Calibre, Helvetica, Arial, sans-serif;
    margin: 3px auto;
    padding: 0 10px;
    width: 1400px;
}

.page-content {
    margin-left: 20px;
    margin-right: 20px;
}


h1 {
    font-size: 72px;
    font-weight: bold;
}

header {
    display: grid;
    grid-template-columns: auto auto auto;
    max-height: fit-content;
}

header p {
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    max-width: 500px;
}

.header-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    margin: 55px 0;
    text-align: center;
}

.header-content h1, .header-content p {
    margin: 5px 0;
}


.navbar {
    background-color: rgb(243, 242, 239);
    overflow: hidden;
    padding: 8px;
    top: 0;
    width: 100%;
}

.navbar-collapse {
    margin-right: 10px;
}

.navbar-nav > li{
    padding-left:5px;
    padding-right:5px;
  }

.nav-link {
    font-size: 22px;
}

.navbar .header-logo{
    height: 27.52px;
    width: 159px;
}


.btn.sign-up, .btn.search-btn, .btn.feature {
    background-color: rgb(70, 79, 46);
    border: 1px solid rgb(70, 79, 46);
    border-radius: 8px;
    color: white;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    font-size: 20px;
    height: 40px;
    padding: 0 20px;
}

.btn.feature {
    border-radius: 30px;
    height: 50px;
    min-width: fit-content;
}


.btn.search-btn {
    align-items: center;
    background-color: rgb(199, 79, 45);
    border: 1px solid rgb(199, 79, 45);
    display: flex;
    padding: 30px 40px 30px 30px;
    margin-left: 10px;
}

.btn.sign-up:hover {
    background-color:rgb(45, 51, 30);
}

.search-btn:hover {
    background-color: rgb(171, 67, 39);
    cursor: pointer;
}



.search_bar {
    align-items: center;
    background-color: white;
    border-radius: 16px;
    box-shadow: rgba(51, 49, 33, 0.2) 1px 6px 20px;
    display: flex;
    height: 120px;
    padding: 10px 50px;
    position: relative;
    margin: 0 16px;
}

.search-form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;

}

.form-inputs {
    align-items: center;
    display: flex;
    width: 100%;
}


input {
    border: none;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 20px;
    width: 100%;
}

input:focus {
    outline-color: rgb(51, 49, 33);
    outline-width: 50px;
}

.form-field {
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgb(51, 49, 33);
    border-radius: 8px;
    display: flex;
    margin: 3px 8px;
    min-height: 56px;
    padding: 3px 10px;
}

.location-field {
    width: 40%;
}

.dates-field {
    width: 30%;
}

.big-img {
    margin: 30px 0;
}

.main-image {
    border-radius: 20px;
    padding: auto;
    width: 100%;
}

.card-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    border: solid 1px #36454F;
    border-radius: 25px;
    margin: 30px 0;
    max-width: 49%;
    height: auto;
    overflow: hidden;
}

.card-body {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.card-body.fall {
    background-color: rgb(245, 158, 94);
}

.card-body.roadtrips {
    background-color: rgb(193, 203, 185);
}

.card-body .btn {
    margin: 5px 0;
    max-width: 45%;
    text-align: center;
    
}

.card-body .card-content {
    max-width: 65%;
}

.card-title {
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
}

.card-text {
    font-size: 28px;
    line-height: 30px;
}

.card-img-top {
    max-width: 100%;
}

.img-rainbow {
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

.img-rainbow .main-image {
    height: 550px;
}

.caption-card {
    background-color: white;
    border-radius: 28px;
    bottom: 3px;
    box-sizing: border-box;
    height: 300px;
    width: 425px;
    padding: 30px 30px;
    position: absolute;
    margin: 40px;
    z-index: 4;
}

.caption-content {
    margin: 10px;
}

.caption-card p {
    font-size: 22px;
    line-height: 26px;
}

.caption-card h3 {
    font-size: 34px;
}


@media screen and (max-width: 1400px) {
    body {
        max-width: 100%;
    }

    .page-content {
        max-width: 100%;
    }
}

@media screen and (max-width: 906px) {
    
    body {
        width: 90%;
    }

    .search_bar {
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .search-form{
        display: grid;
        grid-template-columns: auto auto;
        grid-row: auto auto;
        width: 100%;
    }

    .form-inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        grid-column: 1 / span 2;
    }

    .form-field {
        margin: 10px 0;
    }

    .location-field {
        width: 100%;
    }

    .dates-field, .guests-field {
        width: 49%;
    }


    .btn.search-btn {
        grid-column: 1/span 2;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 25px; 
    }

    
    .card-row {
        display: block;
        width: 100%;
        
    }

    .card {
        max-width: 100%;
        height: auto;
    }
    
}

@media screen and (max-width: 548px) {

}

